.bg-image {
	background-image: url("https://images.pexels.com/photos/11120214/pexels-photo-11120214.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260") ;
}

.intro-image {
	height:  100vh;
	width:  100vw;
	
}

.fas {
	padding-top: 5rem;
}

.cirpics {
	margin-top: 75px;
	margin-bottom: 75px;
}

.info {
	margin-top: 75px;
}

.pro_cut {
	margin-bottom: 6rem;
}

.dramatic_engage {
	margin-bottom: rem;	
}


#nav-image {
	height: 50px;
	width:  50px;

}

.intro_button {
	margin-bottom: 10rem;
	background-color: yellowgreen;
	border-radius: 30px 30px;
	width: 200px;
	border: none;
	padding: 15px 20px;

}

.border {
	border-color:  gray;

}

.unleash {
	position: absolute;

}



.lime, .btn-lime {
	background-color: yellowgreen;
	border-radius: 35px;
	padding: 15px 25px;
	border: none;
	color: white;
}

.white {
	border-radius: 35px;
	border: none;
	padding: 15px 25px;
}

.lime-container {
	background-color: yellowgreen;
}






